#opcionesCita {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#opcionesCita h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

#opcionesCita label {
    display: block;
    margin-bottom: 10px;
}

*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
  }
  
  a {
	text-decoration: none;
  }
  
  ul {
	list-style: none;
  }
  
  html {
	font-size: 62.5%;
  }
  
  body {
	box-sizing: border-box; 
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	background-color: azure;
  }
  
  .center-text {
	text-align: center;
  }
  
  .boxShadow {
	box-shadow: 10px 5px 5px #646363; }
  
  /* ----------------------------- Main Container ----------------------------- */
  .main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	gap: 5rem;
  }
  
  /* -------------------------------------------------------------------------- */
  /* ----------------------------- Card Component ----------------------------- */
  .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 30rem;
	height: max-content;
	border-radius: 1rem;
	/*border: 2px solid #141414;*/
	/*box-shadow: 10px 5px 5px #979797;*/
  }
  .card h3 {
	font-size: larger;
	padding-top: .5rem;
  }
  
  /* --------------------------------- Card-11 Today Sales (Only CSS)-------------------------------- */
  .card-11 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
  }
  .card-11-carousel-container {
	position: relative;
	width: 30rem;
	overflow: hidden;
  }
  .card-11-carousel {
	display: flex;
	transition: transform 0.5s ease-in-out;
  }
  .card-11-carousel-item {
	flex: none;
	text-align: center;
	padding: 40px;
	border-radius: 10px;
	/*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
	width: 28rem;
	/*border: #000000 1px solid;*/
	margin: 1rem;
	background-color: rgba(255, 245, 253, 0.569);
  }
  .card-11-carousel-item img {
	width: 100%;
	height: auto;
	border-radius: 10px;
  }
  .card-11-carousel-item h2 {
	font-size: 3rem;
	margin-bottom: 10px;
  }
  .card-11-carousel-item p {
	font-size: 2rem;
  }
  .card-11-carousel-item i {
	font-size: 3rem;
	padding: 10px;
	border-radius: 50%;
	background-color: #f0a9e2;
  }
  .card-11-carousel-item:nth-child(1) h2,
  .card-11-carousel-item:nth-child(1) p {
	color: #ff54c0;
  }
  .card-11-carousel-item:nth-child(2) h2,
  .card-11-carousel-item:nth-child(2) p {
	color: #ff54c0;
  }
  .card-11-carousel-item:nth-child(3) h2,
  .card-11-carousel-item:nth-child(3) p {
	color: #ff54c0;
  }
  .card-11-carousel-item:nth-child(4) h2,
  .card-11-carousel-item:nth-child(4) p {
	color: #ff54c0;
  }
  .card-11 input[type="radio"] {
	display: none;
  }
  .card-11-carousel-indicators {
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }
  .card-11-carousel-indicators label {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  .card-11 input[type="radio"]:nth-of-type(1):checked ~ .card-11-carousel {
	transform: translateX(0%);
  }
  .card-11 input[type="radio"]:nth-of-type(2):checked ~ .card-11-carousel {
	transform: translateX(-100%);
  }
  .card-11 input[type="radio"]:nth-of-type(3):checked ~ .card-11-carousel {
	transform: translateX(-200%);
  }
  .card-11 input[type="radio"]:nth-of-type(4):checked ~ .card-11-carousel {
	transform: translateX(-200%);
  }
  .card-11 input[type="radio"]:nth-of-type(1):checked ~ .card-11-carousel-indicators label:nth-of-type(1),
  .card-11 input[type="radio"]:nth-of-type(2):checked ~ .card-11-carousel-indicators label:nth-of-type(2),
  .card-11 input[type="radio"]:nth-of-type(3):checked ~ .card-11-carousel-indicators label:nth-of-type(3),
  .card-11 input[type="radio"]:nth-of-type(3):checked ~ .card-11-carousel-indicators label:nth-of-type(4) {
	background-color: #ff37b2;
  }
  